*{
    margin: 0;
}
.cont {
    margin-left: 10%;
    margin-right: 10%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 50px;
    padding: 100px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
        rgba(0, 0, 0, 0.12) 0px -12px 30px,
        rgba(0, 0, 0, 0.12) 0px 4px 6px,
        rgba(0, 0, 0, 0.17) 0px 12px 13px,
        rgba(0, 0, 0, 0.09) 0px -3px 5px;
    text-align: left;
}
.img {
    width: 400px;
}
.button {
    background-color: black;
    color: rgb(71, 208, 71);
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 150px;
    font-size: 20px;
}
.h1 {
    color: rgb(71, 208, 71);
}
.contai{
    display: flex;
    justify-content: left;
}
.add{
    background-color: rgb(208, 208, 208);
    height: 50px;
    width: 40px;
    font-size: 20px;
    border: none;
    margin: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.count{
    margin: 5px;
}
.sub{
    background-color: rgb(208, 208, 208);
    height: 50px;
    width: 40px;
    font-size: 20px;
    border: none;
    margin: 5px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}